<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <key>method</key>
    <string>app-store</string> <!-- or ad-hoc, enterprise, development -->
    <key>provisioningProfiles</key>
    <dict>
        <key>com.dollarprice.souqMisrElmaly</key>
        <string>Provisioning Profile Name</string>
    </dict>
    <key>teamID</key>
    <string>NHF49WV7N9</string> <!-- Your Apple Developer Program Team ID -->
    <key>uploadSymbols</key>
    <true/> <!-- Specifies whether to upload symbols for crash reporting -->
    <key>uploadBitcode</key>
    <false/> <!-- Specifies whether to include Bitcode -->
    <key>compileBitcode</key>
    <true/> <!-- Specifies whether to recompile Bitcode (only for archive) -->
</dict>
</plist>
